<header>
	<!-- Navbar section -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="../../assets/img/logo1.png" alt="" width="60">
				<img src="../../assets/img/logo2.png" alt="" width="60">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" id="about" aria-current="page" routerLink="/about-us">О нас</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/guide-page">Руководство</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" routerLink="/news-page">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/champ-page">Чемпионы и призеры</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="goSlideDown('partners')">Наши партнеры</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="goSlideDown('contacts')">Контакты</a>
					</li>

				</ul>
				<form class="d-flex">
					<button class="btn btn-outline-success lang" type="submit">РУС</button>
					<span routerLink="/sign-in" class="user"><i class="fa fa-user-circle-o" aria-hidden="true"></i> ВХОД</span>
				</form>
			</div>
		</div>
	</nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
	<div class="container">
		<div class="row mt-3" style="padding: 20px 0;">
			<div class="col-md-8 blog-main">
				<!-- <h3 class="pb-4 mb-4 font-italic border-bottom">
					From the Firehose
				</h3> -->

				<div class="blog-post">
					<h2 class="blog-post-title">Чемпионат по тогызкумалак прошел в обычной средней школе, что было дальше?</h2>

					<p class="sub-title">Соңғы деректерге қарағанда, оның шығу тарихы 4 мың жылдық кезеңді қамтиды. Ал кейбір
						мамандардың айтуынша,
						оның пайда болған кезі бұдан да көп уақыт болуы әбден мүмкін.</p>
					<hr>
					<img src="../../assets/img/news-img.png" alt="" style="width: 100%;">
					<br>
					<p class="blog-post-meta">Автор: Ранджеш Кутрапале <a href="#">Mark</a></p>
					<p class="main-text">Соңғы деректерге қарағанда, оның шығу тарихы 4 мың жылдық кезеңді қамтиды. Ал кейбір
						мамандардың айтуынша,
						оның пайда болған кезі бұдан да көп уақыт болуы әбден мүмкін. Тоғыз-құмалақ өткен ғасырларда қазақ
						даласындағы ең кең тараған ойын болатын. Қазақи аңыздарға сенетін болсақ, тоғызқұмалақ ойынын қарапайым
						қойшылар ойлап тапқан. Тоғызқұмалақ тақтасы ретінде олар жерді қазып, арнайы шұңқырлар жасаған. Ал,
						құмалақтарды дайындау үшін қойлардың құмалағын кептіріп, дәл сондай 162-сін қолданған. Ауызба-ауыз таралып
						келген аңыздарда тоғызқұмалақ ойыны қойшылар үшін керемет ермек болды.</p>

				</div><!-- /.blog-post -->


			</div><!-- /.blog-main -->

			<aside class="col-md-4 blog-sidebar">
				<div class="p-4 mb-3  rounded">
					<img src="../../assets/img/aside.png" alt="" width="100%">
					<span>12 февраля 2021</span>
					<p class="mb-0">Чемпионат по тогызкумалак прошел в обычной средней школе, что было дальше?</p>
				</div>
				<div class="p-4 mb-3  rounded">
					<img src="../../assets/img/aside.png" alt="" width="100%">
					<span>12 февраля 2021</span>
					<p class="mb-0">Чемпионат по тогызкумалак прошел в обычной средней школе, что было дальше?</p>
				</div>
				<div class="p-4 mb-3  rounded">
					<img src="../../assets/img/aside.png" alt="" width="100%">
					<span>12 февраля 2021</span>
					<p class="mb-0">Чемпионат по тогызкумалак прошел в обычной средней школе, что было дальше?</p>
				</div>

			</aside><!-- /.blog-sidebar -->

		</div>
	</div>
</main>

<footer class="footer mt-auto py-3">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<span style="text-transform: uppercase;"> 2021 9kumalak.kz. All rights reserved.</span>
			</div>
			<div class="col-sm-4">
				<div class="socials text-center">
					<i class="fa fa-telegram" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<span>info@9kumalak.kz </span>
			</div>
		</div>
	</div>
</footer>