.navbar, .flex-grow-0{
	background: linear-gradient(360deg, rgba(27, 82, 156, 0.99) -21.25%, #033271 120%);
}

.d-flex .user{
	color: #fff;
	font-size: large;
	font-family: 'Montserrat';
	margin: 10px;
}

.main{
	background-color: #002960;
	overflow-y: hidden !important;
}

.lang{
		border-radius: 0;
    border-color: #fff;
    color: #fff;
    border: 2px solid;
    width: 80px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
}

.navbar-brand{
	color: #fff !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

.card-img-overlay button{ 
	position: absolute;
	right: 5%;
	top: 35%;
}

.card{
	border: none;
	/* background-color: #fff; */
	height: 100%;
	background: none;
}

.card img{
	width: 80%;
	margin: 0 auto;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.card img{
		width: 100%;
		margin: 0 auto;
	}
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.card img{
		width: 80%;
		margin: 0 auto;
	}
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.card img{
		width: 80%;
		margin: 0 auto;
	}
 }