<body class="d-flex flex-column h-100">
	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container">
				<!-- <img src="../../assets/img/logo2.png" alt="" style="width: 60px;">
				<img src="../../assets/img/logo1.png" alt="" style="width: 60px;"> -->
				<a class="navbar-brand" href="#">
					<img src="../../assets/img/logo1.png" alt="" width="40">
					<img src="../../assets/img/logo2.png" alt="" width="40">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item">
							<!-- <a class="nav-link active" aria-current="page" href="#">О нас</a> -->
							<a class="nav-link" routerLink="/about-us">О нас</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" routerLink="/guide-page">Руководство</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLink="/news-page">Новости</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="#">Чемпионы и призеры</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Наши партнеры</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Контакты</a>
						</li>

					</ul>
					<form class="d-flex">
						<button class="btn btn-outline-success lang" type="submit">РУС</button>
						<span class="user"><i class="fa fa-user-circle-o" aria-hidden="true"></i> ВХОД</span>
					</form>
				</div>
			</div>
		</nav>
	</header>
	<br>
	<!-- Begin page content -->
	<main class="flex-shrink-0" style="padding: 56px 0;">
		<div class="container">
			<div class="row mt-3">
				<div class="col-sm-4">
					<div class="card">
						<img src="../../assets/img/scrip.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Жалелов Адиль Оралбекович</h5>
							<p class="card-text">Президент</p>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<section class="champs-content" id="champs">
						<div class="card mb-3">
							<div class=" row g-0">
								<div class="col-sm-12">
									<div class="card-body info-body">
										<div class="col-sm-12">
											<h5 class="card-title">Биография</h5>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-6">
													<span class="sec">Дата рождения</span> <br>
													<span class="rt">2002 г.</span>
												</div>
												<div class="col-sm-6">
													<span class="sec">Звание</span> <br>
													<span class="rt">FM (Мастер ФИДЕ)</span>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-sm-6">
													<span class="sec">Место проживания</span> <br>
													<span class="rt">г. Алматы</span>
												</div>
												<div class="col-sm-6">
													<span class="sec">Дата присвоения звания</span> <br>
													<span class="rt">2015</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<br>
					<section class="dost">
						<span>Более известный под сценическим псевдонимом Скриптони́т (англ. Scriptonite) — казахстанский
							исполнитель и музыкальный продюсер, основатель лейбла Musica36[10]. Впервые громко заявил о себе в 2013
							году видеоклипом на песню «VBVVCTND», спустя полтора года выпустил свой дебютный альбом «Дом с нормальными
							явлениями», который стал одним из самых удачных русскоязычных рэп-альбомов 2015 года.

							В 2018 году разделил своё творчество на два проекта: Скриптонит и Gruppa Skryptonite[11]. Как объяснил сам
							Адиль, такое разграничение касается не только записи песен, но и концертов[11]. Так, концерты Gruppa
							Skryptonite — это музыкальный бэнд из восьми человек и новые аранжировки, а концерты Скриптонита — это
							формат «рэпер + диджей» и выступление под минусовки</span>
					</section>
				</div>

			</div>

		</div>
	</main>


	<nav class="navbar footer mt-auto sticky-bottom navbar-light bg-light">
		<div class="container">
			<div class="row" style="width: 100%;">
				<div class="col-sm-5 text-center">
					<span style=" text-transform: uppercase;"> 2021 9kumalak.kz. All rights reserved.</span>
				</div>
				<div class="col-sm-4">
					<div class="socials text-center">
						<i class="fa fa-telegram" aria-hidden="true"></i>
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<i class="fa fa-facebook-official" aria-hidden="true"></i>
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
					</div>
				</div>
				<div class="col-sm-3 text-center">
					<span>info@9kumalak.kz </span>
				</div>
			</div>
		</div>
	</nav>
</body>