/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

p,h1,h2,h3,h4,h5,h6,span {
	font-family: 'Montserrat';
}

.nav-item a {
	cursor: pointer !important;
}

/* Navbar style */
.navbar, .flex-grow-0{
	background: linear-gradient(360deg, rgba(27, 82, 156, 0.99) -21.25%, #033271 120%);
	color: #fff;
}

.d-flex .user{
	color: #fff;
	font-size: large;
	font-family: 'Montserrat';
	margin: 10px;
}

.lang{
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	width: 70px;
	color: #fff;
	border-radius: 0;
	margin: 0 5px;
}
.lang:hover{
	background-color: #016DFD;
}

.nav-item a{
	padding-right: 1.4rem !important;
	padding-left: 0;
}


main .container{
	padding-top: 60px;
	/* padding-top: 30px; */
}


/* Footer */
.footer {
	background: linear-gradient(360deg, rgba(27, 82, 156, 0.99) -21.25%, #033271 120%);
	color: #fff;
	font-size: small;
}

.socials i{
	margin: 0 10px;
	color: #fff;
	font-size: large;
	cursor: pointer;
}

.footer span{
	font-family: Montserrat;
}

.mt-auto{
	margin-top: auto !important;
}

.user{
	cursor: pointer;
}

